
.icon-flow-line:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-note-beamed:before { content: '\e802'; } /* '' */
.icon-vimeo:before { content: '\e803'; } /* '' */
.icon-music-1:before { content: '\e804'; } /* '' */
.icon-skype-1:before { content: '\e805'; } /* '' */
.icon-skype-2:before { content: '\e806'; } /* '' */
.icon-skype-3:before { content: '\e807'; } /* '' */
.icon-skype-outline:before { content: '\e808'; } /* '' */
.icon-skype-4:before { content: '\e809'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-skype-6:before { content: '\f17e'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-vimeo-rect:before { content: '\f30e'; } /* '' */
.icon-vimeo-1:before { content: '\f30f'; } /* '' */
.icon-skype-5:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */